.image_movie{ 
  transition:all ease-in-out 0.7s;
  -webkit-transition:all 0.7s;
  -moz-transition: all 0.7s;
}

.play_button{   
  transition: 300ms opacity, 300ms transform, 300ms height;
  transition-property: ease-in-out;
  -webkit-transition:all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;;
}

.image_movie:hover  .play_button:hover{
    opacity: 0.9;
    transform:scale(1.1)
}